# byte-compiled python
__pycache__/

# build artifacts
/dist/
/build/
*.egg-info/

# tooling caches
.mypy_cache/
.pytest_cache/

# jupyterlab
.ipynb_checkpoints/

# pytest
.coverage
docs/coverage

# sphinx
docs/build

# private
docs/videos
